alembic
asyncpg
fastapi[all]
fastapi-users[sqlalchemy]
python-dotenv
pydantic
pandas
scikit-learn
pymorphy3
requests
transformers
numpy
pyspellchecker
passlib
PyJWT
starlette
torch
evaluate
Levenshtein
language_tool_python
pygtrie
PyPDF2