.query__container {
    display: grid;
    grid-template-columns: 300px 1fr 400px;
}

.query__filters {
    width: 300px;
}

.query__filters-block {
    margin: 0;
}

.queries_list_messages {
    height: calc(100vh - 120px);
    width: 676px;
}