* {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.db-upload {
    height: calc(100vh - 60px);
    padding: 20px 0 40px 0;
}

.db-upload__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.db-upload__content {
    flex-grow: 1;
    display: flex;
    gap: 50px;
}

.loaded-db {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0 20px 0 0;
    border-right: 1px solid rgba(0,0,0,0.1);
}

.loaded-db__hr {
    margin: 20px 0;
}

.subject-list {
    flex-grow: 1;
}

.subject-list__item {
    margin-bottom: 2px;
}

.subject-list__item__button {
    text-align: left;
    width: 100%;
    padding: 8px 20px;
    border-radius: 12px;
}

.subject-list__item__button.active {
    background-color: rgba(28, 28, 28, 0.05);
}

.db-content {
    flex-grow: 1;
}

.upload-file-form {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.upload-file-form__input {
    width: 280px;
}

.upload-file-form__submit {
    background-color: #BAEDBD !important;
    border-radius: 12px;
    padding: 8px;
    transition: 0.3s;
}

.upload-file-form__submit__img {
    height: 26px;
}

.upload-file-form__submit:hover {
    background-color: #afd9b2 !important;
}

.theme-inputs-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.subject-form__input {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 8px 15px;
    transition: 0.3s;
}

.subject-form__input:focus {
    border-color: #e5ecf6;
    background-color: #f4f7fb;
}

.number-inputs {
    display: flex;
    align-items: center;
}

.page-num__input {
    width: 70px;
}

.page-num__dash {
    color: rgba(0,0,0,0.26);
    font-weight: 400;
    font-size: 28px;
    margin: 0 10px;
}

.theme__delete-button {
    border: 1px solid #f87c7c;
    border-radius: 12px;
    height: 41.6px;
    width: 41.6px;
    color: #f87c7c;
    font-weight: 600;
    transition: 0.3s;
}

.theme__delete-button:hover {
    background-color: #fde4e4;
}

.subject__buttons-group {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.subject__add-theme-button {
    background-color: #E3F5FF !important;
    border-radius: 12px;
    padding: 8px 20px;
    transition: 0.3s;
}

.subject__add-theme-button:hover {
    background-color: #cfe5f2 !important;
}

.subject__send-theme-button {
    background-color: #BAEDBD !important;
    border-radius: 12px;
    padding: 8px 20px;
    transition: 0.3s;
}

.subject__send-theme-button:disabled:hover {
    background-color: #BAEDBD !important;
}

.subject__send-theme-button:hover {
    background-color: #afd9b2 !important;
}

.add-subject-form__submit {
    background-color: #BAEDBD !important;
    border-radius: 12px;
    height: 41.6px;
    width: 41.6px;
    transition: 0.3s;
}

.add-subject-form__submit:hover {
    background-color: #afd9b2 !important;
}