{% extends "bases/admin.html" %}


{% block head %}

<link rel="stylesheet" href="../static/styles/admin_notes.css">
<script src="../static/scripts/admin-notes.js"></script>
<title>Smart Manual - Rates List</title>

{% endblock %}


{% block content %}

<section class="notes">
    <div class="notes__inner container">
        <h1 class="title">Заметки в базе данных</h1>
        <div class="notes-content">
            <div class="loaded-db-wide">
                <ul class="wide-subject-list">
                </ul>
            </div>
            <div class="notes-writing">
                <form class="articles_rates_form">
                    <div class="articles_rates_list">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}