{% extends "bases/admin.html" %}


{% block head %}

<script src="../static/scripts/admin-rates-list-scripts.js"></script>
<title>Smart Search - Rates List</title>

{% endblock %}


{% block content %}

<section class="admin-content">
    <div class="container admin_rates_grid">
        <div class="articles_list_block">
            <ul class="articles_list">
            </ul>
        </div>
        <div class="articles_rates_list_container">
            <form class="articles_rates_form">
                <div class="articles_rates_list">
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}