{% extends "bases/admin.html" %}


{% block head %}

<script src="../static/scripts/admin-bot-rate-scripts.js"></script>
<title>Smart Search - Admin Bot Rate</title>

{% endblock %}


{% block content %}

<section class="chatbot_section">
    <div class="container chatbot_rate_container">
        <div class="messanger">
            <div class="prev_messages_block"></div>
            <form class="messanger_form" action="#" method="POST" id="request-form">
                <label for="request" class="hidden">Введите запрос</label>
                <textarea class="request_input"
                          id="request"
                          name="request"
                          placeholder="Спросите что-нибудь"
                          required></textarea>
                <div class="messanger_send_block">
                    <button class="mod_tag_button disabled" type="button" data-type="faq">
                        <div class="mod_tag_button_icon">
                            <img class="mod_tag_button_icon_image" src="../static/images/faq-icon.svg"
                                 alt="Кнопка поиска запроса в разделе faq">
                        </div>
                        <span class="mod_tag_button_text">FAQ</span>
                    </button>
                    <button class="mod_tag_button active" type="button" data-type="article">
                        <div class="mod_tag_button_icon">
                            <img class="mod_tag_button_icon_image" src="../static/images/faq-icon.svg"
                                 alt="Кнопка поиска запроса в разделе article">
                        </div>
                        <span class="mod_tag_button_text">Article</span>
                    </button>
                    <button class="request_submit" type="submit">
                        <img class="send_button_icon" src="../static/images/send-icon.svg" alt="Кнопка отправки">
                    </button>
                </div>
            </form>
        </div>


        <div class="articles_list_block rate_article_list_block">
            <ul class="articles_list">
            </ul>
        </div>

    </div>
</section>

{% endblock %}