{% extends "bases/admin.html" %}


{% block head %}

<script src="../static/scripts/admin-statistics.js"></script>
<title>Smart Search - Statistic</title>

{% endblock %}


{% block content %}

<section class="admin-content">
    <div class="container flex flex-col items-center">
        <form class="date_range">
            <div class="input-block">
                <label for="date_start">Дата начала</label>
                <input class="add_system_input" type="datetime-local" id="date_start" name="date_start">
            </div>
            <div class="input-block">
                <label for="date_end">Дата конца</label>
                <input class="add_system_input" type="datetime-local" id="date_end" name="date_end">
            </div>
            <button class="date_submit admin_form_submit" type="submit">Применить</button>
        </form>
        <table class="admin_list systems-list stats_list">
            <thead class="admin_table_head">
                <tr>
                    <th class="system_id">ID</th>
                    <th class="system_name">Name</th>
                    <th class="system_requests_count">Requests count</th>
                </tr>
            </thead>
            <tbody class="systems-list-body">
            </tbody>
        </table>
    </div>
</section>

{% endblock %}