{% extends "bases/admin.html" %}


{% block head %}

<link rel="stylesheet" href="../static/styles/admin_querys.css">
<script src="../static/scripts/querys-list-scripts.js"></script>
<title>Smart Search - Admin Bot Querys</title>

{% endblock %}


{% block content %}

<section class="query">
    <div class="container query__container">
        <div class="query__filters">
            <div class="filters_block query__filters-block">
                <h1 class="filters_block_title">Фильтры</h1>
                <form class="filter_form">
                    <div class="querys_filter_block">
                         <div class="input-block checkbox-block">
                            <label for="not_fixed">Не исправлены</label>
                            <input class="add_system_input" type="checkbox" id="not_fixed" name="not_fixed" checked>
                        </div>
                        <div class="input-block checkbox-block">
                            <label for="useful_faq">Дизлайк FAQ</label>
                            <input class="add_system_input" type="checkbox" id="useful_faq" name="useful_faq">
                        </div>
                        <div class="input-block checkbox-block">
                            <label for="useful_article">Дизлайк Article</label>
                            <input class="add_system_input" type="checkbox" id="useful_article" name="useful_article">
                        </div>
                        <div class="input-block checkbox-block">
                            <label for="useful_law">Дизлайк Law</label>
                            <input class="add_system_input" type="checkbox" id="useful_law" name="useful_law">
                        </div>
                    </div>
                    <div class="input-block">
                        <label for="query_include">Запрос содержит</label>
                        <input class="add_system_input" type="text" id="query_include" name="query_include">
                    </div>
                    <div class="input-block">
                        <label for="chat_id">ID чата</label>
                        <input class="add_system_input" type="text" id="chat_id" name="chat_id">
                    </div>
                    <div class="input-block">
                        <label for="user_id">ID пользователя</label>
                        <input class="add_system_input" type="text" id="user_id" name="user_id">
                    </div>
                    <div class="input-block">
                        <label for="system_id">ID Системы</label>
                        <input class="add_system_input" type="text" id="system_id" name="system_id">
                    </div>
                    <div class="input-block">
                        <label for="date_start">Дата начала</label>
                        <input class="add_system_input" type="datetime-local" id="date_start" name="date_start">
                    </div>
                    <div class="input-block">
                        <label for="date_end">Дата конца</label>
                        <input class="add_system_input" type="datetime-local" id="date_end" name="date_end">
                    </div>
                    <div class="input-block checkbox-block">
                        <label for="random">Случайный порядок</label>
                        <input class="add_system_input" type="checkbox" id="random" name="random">
                    </div>
                    <button class="add_system_submit admin_form_submit" type="submit">Применить</button>
                </form>
            </div>
        </div>
        <div class="query__history">
            <div class="prev-messages-block queries_list_messages">
            </div>
        </div>
        <div class="articles_list_block rate_article_list_block">
            <ul class="articles_list">
            </ul>
        </div>
    </div>
</section>

{% endblock %}