{% extends "bases/admin.html" %}


{% block head %}

<script src="../static/scripts/system-list-scripts.js"></script>
<title>Smart Search - System List</title>

{% endblock %}


{% block content %}

<section class="admin-content">
    <div class="container flex flex-col items-center">
        <div class="add_system">
            <button class="add_system_button" type="button">Добавить систему</button>
        </div>
        <table class="admin_list systems-list">
            <thead class="admin_table_head">
                <tr>
                    <th class="system_id">ID</th>
                    <th class="system_name">Name</th>
                    <th class="system_token">Token</th>
                    <th class="system_region">Region</th>
                    <th class="system_type">System type</th>
                    <th class="system_bug_tracker">Bug tracker</th>
                    <th class="system_delete"><button type="button">Delete</button></th>
                </tr>
            </thead>
            <tbody class="systems-list-body">
            </tbody>
        </table>
    </div>
    <div class="modal hidden close-modal-area">
        <div class="modal_window">
            <h1 class="modal_window_header">Добавление системы</h1>
            <form method="post" id="add_system_form">
                <div class="input-block">
                    <label for="name">Название системы</label>
                    <input class="add_system_input" type="text" id="name" name="name" required value="Name">
                </div>
                <div class="input-block">
                    <label for="region">Регион</label>
                    <input class="add_system_input" type="text" id="region" name="region" required value="Region">
                </div>
                <div class="input-block">
                    <label for="system_type_id">Тип системы</label>
                    <input class="add_system_input" type="text" id="system_type_id" name="system_type_id" required value="1">
                </div>
                <div class="input-block">
                    <label for="bug_tracker">Баг-трекер</label>
                    <input class="add_system_input" type="text" id="bug_tracker" name="bug_tracker">
                </div>
                <button class="add_system_submit admin_form_submit" type="submit">Отправить</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}