{% extends "bases/admin.html" %}


{% block head %}

<script src="../static/scripts/chat-list-scripts.js"></script>
<title>Smart Search - Chats List</title>

{% endblock %}


{% block content %}

<section class="admin-content">
    <div class="container admin_chats_list_container">
        <table class="admin_list chats-list">
            <thead class="admin_table_head">
                <tr>
                    <th class="chat_id">ID</th>
                    <th class="chat_system_id">System ID</th>
                    <th class="chat_user_id">User ID</th>
                    <th class="chat_is_anon">Is Anonymous</th>
                    <th class="chat_session_id">Session ID</th>
                    <th class="chat_name">Name</th>
                    <th class="chat_history">Chat History</th>
                </tr>
            </thead>
            <tbody class="chats-list-body">
            </tbody>
        </table>
        <div class="filters_block">
            <span class="filters_block_title">Фильтры</span>
            <form class="filter_form">
                <div class="input-block">
                    <label for="systemId">ID Системы</label>
                    <input class="add_system_input" type="text" id="systemId" name="systemId">
                </div>
                <div class="input-block">
                    <label for="userId">ID Пользователя</label>
                    <input class="add_system_input" type="text" id="userId" name="userId">
                </div>
                <div class="input-block checkbox-block">
                    <label for="isAnonymous">Анонимный пользователь</label>
                    <input class="add_system_input" type="checkbox" id="isAnonymous" name="isAnonymous">
                </div>
                <div class="input-block">
                    <label for="sessionId">ID Сессии</label>
                    <input class="add_system_input" type="text" id="sessionId" name="sessionId">
                </div>
                <div class="input-block">
                    <label for="name">Название</label>
                    <input class="add_system_input" type="text" id="name" name="name">
                </div>
                <button class="add_system_submit admin_form_submit" type="submit">Применить</button>
            </form>
        </div>
    </div>
    <div class="modal hidden close-modal-area">
        <div class="modal_window">
            <h1 class="modal_window_header">История сообщений</h1>
            <div class="modal_window_messages_block"></div>
        </div>
    </div>
</section>

{% endblock %}