<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <script src="../static/scripts/chatbot-scripts.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Smart Manual</title>
</head>
<body>
    <section class="chatbot_section">
        <div class="container chatbot-container">
            <div class="messanger">
                 <nav class="messanger__navbar">
                    <span class="header_title">Smart Manual</span>
                </nav>
                <div class="messanger__content">
                    <div class="messanger__subjects">
                        <span class="subjects__title">Предметы</span>
                        <ul class="messanger__subject-list subject-list">
<!--                            <li class="subject-list__item">-->
<!--                                <button class="subject-list__item__button" type="button">Матанализ</button>-->
<!--                            </li>-->
<!--                            <li class="subject-list__item">-->
<!--                                <button class="subject-list__item__button" type="button">Физика</button>-->
<!--                            </li>-->
                        </ul>
                    </div>
                    <div class="messanger__chat">
                        <div class="prev_messages_block"></div>
                        <form class="messanger_form" action="#" method="POST" id="request-form">
                            <label for="request" class="hidden">Введите запрос</label>
                            <textarea class="request_input"
                                      id="request"
                                      name="request"
                                      placeholder="Спросите что-нибудь"
                                      required></textarea>
                            <div class="messanger_send_block">

                                <button class="request_submit" type="submit">
                                    <img class="send_button_icon" src="../static/images/send-icon.svg" alt="Кнопка отправки">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>